@import "tailwindcss";

@theme inline {
  --color-bg: #124A26;
  --color-title: #f4c430;
  --color-text: #d0eaca;
  --color-btn-text: #3E2E00;
  --color-card: #101f0c8c;
  --color-bg-password: #002109;
  --text-h1: 3.3rem;
  --text-h2: 2.1rem;
  --text-h3: 1.8rem;
  --text-checkbox: 1.5rem;
  --text-paragraph: 1.4rem;
  --text-paragraph-mobile: 1.2rem;
}

:root, body {
  height: 100%;
}

body {
  font-family: "Merriweather", sans-serif;
  font-weight: normal;
  overflow: hidden;
}

p {
  font-family: monospace;
  font-weight: normal;
}

/* --- INPUT LINEAR --- */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  background: transparent;
}

/* WebKit (Chrome, Safari, Edge) */
input[type="range"]::-webkit-slider-runnable-track {
  height: 4px;
  background: #ffcc3338;
  border-radius: 4px;
}

/* Firefox */
input[type="range"]::-moz-range-track {
  height: 4px;
  background: #ffcc3338;
  border-radius: 4px;
}

/* WebKit */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: #f4c430;
  border-radius: 50%;
  margin-top: -9px; /* Centra il thumb rispetto alla track */
  cursor: pointer;
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  background: #f4c430;
  border-radius: 50%;
  border: none; /* Rimuove il bordo extra di Firefox */
  cursor: pointer;
}

input[type="checkbox"] {
  appearance: none;
  border: solid 1px #f4c430;
  background-color: #002109 ;
  position: relative;
}

input[type="checkbox"]:checked::after {
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f4c430;
  content: "✔";
  color: #fff;
}